h1 {
  background-color: orange;
  color: blue;
  font-family: verdana;
  font-size: 150%;
}
p {
  color: red;
  font-family: courier;
  font-size: 100%;
  border: 2px solid powderblue;
  padding: 1px;
  margin: 5px;
}